.gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.gallery-image {
    width: 100%;
}

.gallery > li {
    list-style: none;
    width: calc((100% - 48px) / 3);
}

img {
    object-fit: cover;
}